body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url(../images/bgone.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #abb;
}

.container {
  position: absolute;
  height: 268px;
  width: 364px;
  right: 0;
  left: 0;
  margin: 10% auto;
  background: rgba(128,128,128,0.1);
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

input, button {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.5);
  padding: 12px 12px;
  font-size: 16px;
  height: 40px;
  width: 300px;
  -webkit-transition: 0.6s ease;
  border: none;
  outline: none;
  margin: 20px 0 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.01);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

button {
  background: rgba(0,0,0,0.9);
  width:324px;
  height:60px;
  cursor:pointer;
}